.converter {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: -20px auto 0;
  gap: 20px;
  background: #ffffff;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 15px 2px #000000;

     &_wrapper {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       gap: 50px;
     }

  &_left, &_right {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.select {
  width: 70%;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
}

.icon {
  width: 40px;
  height: 30px;
  margin-right: 13px;
  border-radius: 5px;

  &_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
