<div class="converter">
  <h3 class="converter_title"> Convert here</h3>
  <div class="converter_wrapper">
    <div class="converter_left">
      <div class="icon_container" >
       <ng-container *ngTemplateOutlet="startSwitch"></ng-container>
      <select
        class="select"
        [formControl]="currencyGroup.get('startCurrencyType') | getControl"
        (change)="changeCurrencyType('first')"
        >
        <ng-container  *ngFor="let item of currencyArr">
          <option [value]="item" >{{ item }}</option>
        </ng-container>
      </select>
        </div>
      <app-input
        (click)="changeBaseStart()"
        [inputControl]="currencyGroup.get('firstValue') | getControl"
      >
      </app-input>

    </div>
    <div class="converter_right">
      <div class="icon_container" >
        <ng-container *ngTemplateOutlet="endSwitch"></ng-container>
      <select
        class="select"
        [formControl]="currencyGroup.get('endCurrencyType') | getControl"
        (change)="changeCurrencyType('second')"
        >

        <ng-container *ngFor="let item of currencyArr">
          <option  [value]="item" >{{ item }}</option>
        </ng-container>
      </select>
      </div>
      <app-input
        (click)="changeBaseEnd()"
        [inputControl]="currencyGroup.get('secondValue') | getControl"
      >
      </app-input>
    </div>
  </div>
</div>
    <ng-template #startSwitch>
      <ng-container [ngSwitch]="currencyGroup.get('startCurrencyType')?.value">
        <ng-container *ngSwitchCase="'UAH'">
          <img class="icon" src="assets/uah.png" alt="">
        </ng-container>
        <ng-container *ngSwitchCase="'USD'">
          <img class="icon" src="assets/usd.png" alt="">
        </ng-container>
        <ng-container *ngSwitchCase="'EUR'">
          <img class="icon" src="assets/euro.png" alt="">
        </ng-container>
        <ng-container *ngSwitchCase="'GBP'">
          <img class="icon" src="assets/united_kingdom.png" alt="">
        </ng-container>
        <ng-container *ngSwitchCase="'CNY'">
          <img class="icon" src="assets/china.png" alt="">
        </ng-container>
      </ng-container>
    </ng-template>

<ng-template #endSwitch>
  <ng-container [ngSwitch]="currencyGroup.get('endCurrencyType')?.value">
    <ng-container *ngSwitchCase="'UAH'">
      <img class="icon" src="assets/uah.png" alt="">
    </ng-container>
    <ng-container *ngSwitchCase="'USD'">
      <img class="icon" src="assets/usd.png" alt="">
    </ng-container>
    <ng-container *ngSwitchCase="'EUR'">
      <img class="icon" src="assets/euro.png" alt="">
    </ng-container>
    <ng-container *ngSwitchCase="'GBP'">
      <img class="icon" src="assets/united_kingdom.png" alt="">
    </ng-container>
    <ng-container *ngSwitchCase="'CNY'">
      <img class="icon" src="assets/china.png" alt="">
    </ng-container>
  </ng-container>
</ng-template>

